// src/css/quasar.variables.sass

$primary   : #00b8a9;
$secondary : #ffd426;
$accent    : #f6416c;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #40a11a;
$negative  : #cf3232;
$info      : #3abff0;
$warning   : #ff8838;